.contactsContainer {
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  width: 75%;
  margin: 0 0 24px;
  padding: 32px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contactsSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  font-size: 20px;
}

.contactsSubContainer > div {
  display: flex;
  align-items: center;
}

/* .mapContainer {
  width: 500px;
  height: 500px;
  border: 2px solid red;
} */

.leaflet-container {
  height: 200px;
  width: 100%;
}

#map {
  height: 200px;
  width: 100%;
}
