.cartContainer {
  /* background-image: linear-gradient(to top, #a1a1a1, #e0e0e0); */
  background-color: white;
  border-radius: 8px;
  width: 75%;
  max-width: 1200px;
  min-width: 1050px;
  margin: 0 0 24px;
  padding: 32px 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.cartSubcontainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.quantitySelectorRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.changeCount {
  margin-bottom: -3px;
}

.cartTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
  width: 100%;
  text-align: left;
}

.cartItemListContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  padding-right: 28px;
  padding-left: 10px;
  border: 1px solid rgba(126, 126, 126, 0.2);
  box-shadow: 2px 4px 15px -2px rgb(174, 171, 171);
  border-radius: 8px;
}

.cartItemFirstSection {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin-right: 24px;
}

.cartItemSecondSection {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 12px 22px;
}

.cartItemName {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  font-weight: 600;
}

.cartItem > section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cartItemImage {
  width: 125px;
  /* border-radius: 50%;
  border: 1px solid rgba(156, 156, 156, 0.7); */
}

.cartTotalAmmount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  /* width: 500px; */
  min-width: 400px;
  height: fit-content;
  background-color: rgba(240, 240, 240, 0.5);
  box-sizing: border-box;
  padding-top: 18px;
}

.cartTotalAmmountTitle {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding-left: 22px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 12px;
}

.cartTotalAmmountSubContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 22px;
  margin-bottom: 12px;
}

.cartTotalAmmountSubContainer > :nth-child(1) {
  padding-bottom: 12px;
}

.cartTotalAmmountSubContainer > div {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  border-top: 1px solid rgba(156, 156, 156, 0.5);
  padding-top: 12px;
}

.cartItemPriceNumber {
  font-weight: 600;
}

.payButton {
  transition-duration: 350ms;
  width: 100%;
  padding-block: 12px;
  color: white;
  background-color: rgb(20, 20, 20);
  font-weight: 600;
  cursor: pointer;
}

.payButton:hover {
  transition-duration: 350ms;
  background-color: rgb(10, 139, 10);
  /* color: rgba(255, 255, 255, 0.9); */
  /* border: none; */
}

.removeAllButton {
  cursor: pointer;
  margin-bottom: -3px;
}

.emptyCart {
  width: 100%;
  text-align: start;
}

.directToShopButton {
  width: fit-content;
  padding: 8px;
  margin-top: 12px;
  border-radius: 8px;
  background-color: rgb(10, 139, 10);
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .cartContainer {
    /* background-image: linear-gradient(to top, #a1a1a1, #e0e0e0); */
    background-color: white;
    border-radius: 8px;
    width: 100%;
    margin: 0 0 24px;
    padding: 32px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-width: 200px;
  }
  .cartSubcontainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .cartItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(126, 126, 126, 0.2);
    box-shadow: 2px 4px 15px -2px rgb(174, 171, 171);
    border-radius: 8px;
  }

  .cartItemSecondSection {
    gap: 16px;
    justify-content: center;
  }

  .cartTotalAmmount {
    min-width: 200px;
  }

  .removeAllButton {
    position: absolute;
    top: 14px;
    right: 14px;
    /* margin-bottom: -3px; */
  }
}
