.homeContainer {
  background-color: white;
  border-radius: 8px;
  width: 75%;
  margin: 0 0 24px;
  padding: 32px 88px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  /* font-family: "DM Sans"; */
}

.homeDescription {
  text-align: left;
}

.mockLogo {
  width: 40px;
  height: 90px;
}

.homeTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
  width: 100%;
  text-align: left;
}

.homeSubcontainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
}

.informationList {
  padding-left: 18px;
}

/* .informationList > li {
  list-style-position: inside;
} */

@media only screen and (max-width: 600px) {
  .compositionPicture {
    display: none;
  }
  .homeContainer {
    /* background-color: white;
  border-radius: 8px; */
    width: 100%;
    margin: 0 0 24px;
    padding: 32px 18px;
    /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box; */
  }
}

.bulletpointSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bulletpointRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  gap: 8px;
}

.animatedBulletPoints {
  color: rgb(10, 139, 10);
  font-size: 20px;
}
