.shopContainer {
  /* background-image: linear-gradient(to top, #a1a1a1, #e0e0e0); */
  background-color: white;
  border-radius: 8px;
  width: 75%;
  margin: 0 0 24px;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  gap: 48px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .shopContainer {
    width: 100%;
  }
}
