.cartSideMenuContainer {
  position: absolute;
  box-sizing: border-box;
  width: 400px;
  height: 600px;
  padding: 16px 28px;
  background-color: white;
  border: 1px solid rgba(156, 156, 156, 0.7);
  border-radius: 8px;
  z-index: 100;
  translate: 0 -10px;
}

.cartSideMenuContainer::before {
  content: " ";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: white;
  border-top: 1px solid rgba(156, 156, 156, 0.5);
  border-left: 1px solid rgba(156, 156, 156, 0.5);
  rotate: 45deg;
  translate: 79px -20px;
}

.cartTitle {
  width: 100%;
  text-align: left;
  margin: 8px 0 16px;
}

.cartSideMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(156, 156, 156, 0.5);
}

.cartSideMenuItem > section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cartSideMenuItemImage {
  width: 65px;
  /* border-radius: 50%;
  border: 1px solid rgba(156, 156, 156, 0.7); */
}

.cartSideMenuItemListContainer {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.cartSideMenuItemName {
  font-weight: 400;
  opacity: 0.6;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartItemPrice {
  font-weight: 400;
  opacity: 0.6;
}

.cartItemSideMenuPriceNumber {
  margin-top: -3px;
}

.totalAmmount {
  position: absolute;
  bottom: 20px;
  right: 28px;
}
