.container {
  transition-duration: 350ms;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  padding: 12px 48px;
  margin-bottom: 24px;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  font-weight: 500;
  border-bottom: 1px solid rgb(255, 255, 255 0.7);
  box-shadow: 0 2px 5px -2px rgba(122, 122, 122, 0.2);
}

.container:hover {
  transition-duration: 350ms;
  background-color: white !important;
}

.container:hover > * > * {
  transition-duration: 350ms;
  color: rgba(50, 50, 50, 0.9) !important;
}

.container:hover .active {
  transition-duration: 350ms;
  color: rgb(10, 139, 10) !important;
}

.subContainer {
  display: flex;
  gap: 24px;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgba(50, 50, 50, 0.9);
}

a:hover {
  transition-duration: 350ms;
  opacity: 0.8;
  text-decoration: underline;
}

.active {
  color: rgb(10, 139, 10) !important;
}

.subContainerSecond {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* button {
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding: 8px 14px;
  color: white;
  background-color: rgba(50, 50, 50, 0.9);
  cursor: pointer;
}

button:hover {
  color: rgba(193, 223, 253, 0.8);
} */

.languageSelector {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.cartIcon {
  height: 30px;
  width: 30px;
  /* scale: 1.3; */
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgb(10, 139, 10);
  /* border: 1px solid rgba(50, 50, 50, 0.9); */
  padding: 4px;
  color: rgb(10, 139, 10);
  /* color: rgba(50, 50, 50, 0.9); */
  cursor: pointer;
}

.productCount {
  position: absolute;
  translate: 21px -40px;
  height: 18px;
  width: 18px;
  line-height: 16px;
  font-size: 12px;
  /* font-weight: 700; */
  /* scale: 1.3; */
  box-sizing: border-box;
  border-radius: 50%;
  /* border: 1px solid rgba(50, 50, 50, 0.9); */
  /* padding: 4px; */
  color: white;
  background-color: rgb(10, 139, 10);
}

/* .cartIconContainer:hover .navBarCartContainer {
  display: flex;
  justify-content: flex-end;
} */

.navBarCartContainer {
  /* display: none; */
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 58px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 600px) {
  .cartIconContainer:hover .navBarCartContainer {
    display: none;
  }

  .container {
    padding: 12px;
  }
}

.mockLogo {
  width: 15px;
}
