.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backGroundImage {
  width: 100%;
  height: 400px;
  background-image: url("./assets/images/cocktailsHorizontal.png");
  background-position: 50% 30%;
}
